.push_conteiner
{
    padding-top: 25px; 
    color: rgb(108, 108, 108);
    font-size: 20px;
    position: relative;
    height: calc( 100% - 95px);
    width: calc(100% - 340px);
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
}
.target
{
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    padding: 5px 15px;
    background-color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.target:hover
{
    background-color: rgba(159, 220, 158, 0.3)
    /* background-color: rgba(245,245,245,0.7); */
}
.target_push
{
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    padding: 5px 15px;
    background-color:rgb(159, 220, 158);;
    cursor: pointer;
}
.dropdown
{
    width: 415px;
    height: 35px;
    position: relative;
    /* border: 1px solid rgba(0,0,0,0.3); */
    border-radius: 15px 15px 15px 15px;
    line-height: 35px;
    cursor: pointer;
    /* color: #757575; */
    text-align: left;
    padding-left: 15px;
    /* background-color: white; */
    background-color: rgba(255,255,255,0.7);
    color: rgb(88, 88, 88);
    display: inline-block;
}

.dropdown_ul
{
    border: 0.5px solid rgba(0,0,0,0.1);
    transition: .4s;
    height: auto;
    max-height: 150px;
    overflow: auto;
	z-index: 90;
	width: 430px;
	position: absolute;
    top: 40px;
    left: -1px;
	padding: 0;
    margin: 0;
    list-style-type: none;
    /* color: black; */
    border-radius: 7px 7px 7px 7px;
    background-color: rgb(235,235,235);
    /* background-color: rgba(255,255,255,0.7); */
    color: rgb(88, 88, 88);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.dropdown_ul li
{
    width: auto;
    /* background-color: white; */
    background-color: rgb(235,235,235);
	cursor: pointer;
	border-top:none;
	text-align: center;
	line-height: 30px;
	height: 30px;
}

.dropdown_ul li:hover
{
    /* background-color: #eeeeee; */
    background-color: rgb(205,205,205);
}

.arrow
{
	float: right;
	height: 20px;
	width: 20px;
	margin-top: 8px;
	margin-right: 10px;
    transition: all 0.1s;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.slider 
{
    -webkit-appearance: none;
    width: 240px;
    height: 15px;
    border-radius: 5px;   
    background: rgba(255,255,255,0.7);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}
.slider::-moz-range-thumb 
{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.description
{
    border-radius:7px 7px 7px 7px; 
    /* border: 1px solid rgb(88, 88, 88); */
    border: 1px solid rgba(88, 88, 88, 0.0);
    background-color: rgba(255,255,255,0.7);
    color: rgb(88, 88, 88);
    outline: none;
    width: 500px;
    height: 80px;
    position: relative;
    resize: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    padding: 10px 15px;
    top:0px;
    left:0px;
}
::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url(https://image.flaticon.com/icons/svg/42/42446.svg) no-repeat center;
    background-size: contain;
}
.date {
    border-radius:7px 7px 7px 7px; 
    background-color: rgba(255,255,255,0.7);
    font-size: 15px;
    border: 1px solid rgba(88, 88, 88, 0.0);
    color: rgb(88, 88, 88);
    outline: none;
    padding: 5px 5px;   
}

.sub
{
    cursor: pointer;
    width: 250px;
    border-radius: 7px 7px 7px 7px;
    text-align: center;
    padding: 5px;
    background-color: rgb(112, 184, 111);
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 19px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    margin: 0 0 15px 0;
    color: white;
}

.sub:hover
{
    background-color: rgb(94, 162, 94);
}